.html, body {
    height: 100%;
    Margin: 0px;
}
.page {
    display: flex;
    flex-direction: column;

    
}

.left-panel {
    display: flex;
    flex-direction: column;
    background-color: rgba(243,244,248,255) ;
    width: 23%;
    max-width: 400px;
    min-width: 300px;

    height: 100%;
    text-align: center;
    margin: 0px;
    position: fixed;
    align-items: center;

   
}
.pfp {
    width: 50%;
    border-radius: 50%;
    margin-top: 10%;

}
.picture {
    background-color: lightblue;
}
.name {
    font-size: clamp(20px, 1.5vw, 30px);
    margin-top: 5%;
    font-family: Merriweather;
    

}
.description {
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: clamp(15px, 1vw, 20px);
}

.button {
    font-size: 15px;
    margin-bottom: 7%;
    transition: transform 0.3s;
    font-family: Merriweather;
    font-size: clamp(10px, 2vw, 15px);
}
.button:hover {
    cursor: pointer;    
    transform: translate(-10px);
    opacity: 0.8;
}
.contacts {
    display: flex;
    flex-direction: row;
    margin-top: 5%;


}

.logo {
    width: 15%; 
    max-width: 100px;
    border-radius: 50%;
    margin-left: 13%;
    transition: transform 0.3s;
}
.logo:hover {
    cursor: pointer;
    transform: translateY(-10px);
    
}


.text-certifications {
    margin-left: 300px;
    margin-top: 100px;
    text-align: center;


}
.certification-image {
    margin-left: 5%;
    margin-bottom: 100px;
    box-shadow: 10px 10px 5px #9c9c9c;
    vertical-align: middle;
    animation: fadeIn 3s;
    
}
.home-text {
    margin-left: 30%;
    margin-top: 10%;
    font-size: clamp(50px, 2vw, 60px);
    font-family: Merriweather;
}
.experience-text {
    margin-left: 30%;
    width: 1000px;
    font-size: clamp(40px, 2vw, 50px);
    font-family: Merriweather;
    margin-bottom: 2%;
  
}
.competition-pictures {
    width: 200px;
    margin-top: 15%;
    margin-left: 30%;
}
.hivestorm-pictures {
    width: 300px;
    margin-top: 3%;
    margin-left: 30%;
}
.ncae-pictures {
    width: 100px;
    margin-top: 15%;
    margin-left: 30%;
}
.swift-pictures {
    width: 250px;
    margin-top: 15%;
    margin-left: 30%;
}
.sony-pictures {
  width: 140px;
  margin-top: 15%;
  margin-left: 30%;
  margin-bottom: 1%;
}

.education-pictures {

    width: 300px;
    margin-top: -5%;
    margin-left: -5%;
    margin-bottom: -5%;
}
.education-pictures1 {

    width: 250px;
    margin-top: 0%;
    margin-left: -1%;
    margin-bottom: 0;
}


.home-description {
    margin-left: 35%;
    font-size: clamp(18px, 1vw, 30px);
    margin-bottom: 10%;
    color: rgba(115,115,121,255);
    font-family: Merriweather;
    width: 40%;
    line-height: 1.7;
}

.fade-in {
    animation: fadeIn 5s;
  }

  .slide-in {
  
    animation: fadeIn 3s, slide-in 2s forwards;
  }
  


  .hidden {
    opacity: 0;
    transition: all 1s;
    filter: blur(5px);
    transform: translateX(+60%);

  }

  .show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
  }

  .education-text {
    margin-left: 30%;
    margin-top: 10%;
    width: 1000px;
    font-size: clamp(10px, 2vw, 20px);
    font-family: Merriweather;
    margin-bottom: 2%;
    
}

.waviy {
    position: relative;
  }
  .waviy span {
    position: relative;
    display: inline-block;
    font-size: 40px;
    text-transform: uppercase;
    animation: flip 4s infinite;
    animation-delay: calc(.2s * var(--i))
  }
  @keyframes flip {
    0%,80% {
      transform: rotateY(360deg) 
    }
  }

  @keyframes slide-in {
    from {
      transform: translateX(+50%);
    }
    to {
      transform: translateX(0);
    }
  }

  @-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  @-ms-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

  @media (max-width: 1000px) {
    .left-panel {
      display: none;
    }
  
    .timeline {
      max-width: 100%;
      margin: 50px auto;
      padding: 20px;
      background-color: white;
      border-radius: 10px;
      /* Adjust other styles as needed */
    }
  }
  
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
  }

  .timeline {
    position: relative;
    max-width: 60%;

    margin: 50px auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    left:10%;
  }

  .timeline::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 4px;
    height: 100%;
    background-color: #333;
  }

  .timeline-item {
    position: relative;
    margin-bottom: 50px;
    padding-left: 5%;
    transition: transform 0.3s ease;
   
  }



  .timeline-item-content {
    position: relative;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    

  }

  .timeline-item:hover {
    transform: scale(1.05);
  }

  .timeline-item:hover::before {
    transform: scale(1.5);
    top:170px;

  }

  .timeline-item-content:hover {
    transform: translateY(-5px);
  }

  h3 {
    color: #333;
    font-size: 20px;
    margin-bottom: 10px;
  }

  p {
    color: #666;
    font-size: 14px;
    line-height: 1.6;
  }

  .timeline-period {
  position: relative;
  bottom: 10px;
  left: 80%; 
  transform: translateY(-50%);
  width: 140px; 
  background-color: #f9f9f9;
  border-radius: 5px;
  text-align: center;
  padding: 5px;
  font-size: 14px;
  color: #333;
  opacity: 0;
  transition: opacity 0.3s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.timeline-item:hover .timeline-period {
  opacity: 1;
}


.sony-pictures,.competition-pictures{
  width:180px;
  margin-left:0px;
}
.swift-pictures {
  width:250px;
  margin-left:0px;
}
.hivestorm-pictures {
  width:300px;
  margin-left:0px;
}
.ncae-pictures {
  height:150px;
  margin-left:0px;
}


   

.terminal-window {
    position:relative;
  background-color: #1e1e1e;
  border-radius: 10px;
  width: 900px;;
  margin: 20px auto;
  overflow: hidden;
  margin-left:30%;
    top:100px;
}

.terminal-header {
  height: 30px;
  background-color: #4c4a48;
  padding: 5px;
}

.terminal-button {
    width:40px;
height:40px;
background-color:red;
position:relative;
border-radius:6px;
box-shadow:2px 2px 4px 0 white;
}


.terminal-body {
  padding-left: 20px;
  font-family: "Share Tech Mono", monospace;
  color: #eee;
}

.hacking-animation {

  color: #eee;
  height: 100%;
  position: relative;
  width: 100%;
  border-radius: 10px;
}

.hacking-animation__text {
  font-family: "Share Tech Mono", monospace;
  color: #eee;
  font-size: 18px;
  line-height: 1.5rem;
  padding: 2rem;
}

.hacking-animation__character {
  color: white;
}

/* New CSS for the image */
.TerminalIcons {
    float: right;
  top: 0;
  right: 0;
}
